@if (tabs().length) {
  <div ngTabs class="app-tabs-root">
    <div
      ngTabList
      class="app-tabs"
      [class.is-measured]="indicatorVisible()"
      [class.is-animated]="indicatorAnimated()"
      [(selectedTab)]="selectedTabId"
      [attr.aria-label]="ariaLabel()"
    >
      <span
        class="app-tabs-indicator"
        aria-hidden="true"
        [style.transform]="'translateX(' + indicatorLeft() + 'px)'"
        [style.width.px]="indicatorWidth()"
      ></span>
      @for (tab of tabs(); track tab.id) {
        <button
          ngTab
          type="button"
          [id]="tab.id"
          [value]="tab.id"
          class="app-tab"
        >
          @if (tab.icon) {
            <i [class]="'app-tab-icon ' + tab.icon" aria-hidden="true"></i>
          }
          <span class="app-tab-label">{{ tab.label }}</span>
        </button>
      }
    </div>
  </div>
}
